*.egg*
*.pyc
.idea
*~
*.egg-info
*.DS_Store
.*swp
._*
.ipynb_checkpoints
rnn_searches/scripts/logs/
rnn_searches/scripts/
rnn_searches/neural_fitting/model*
rnn_searches/neural_fitting/10Lv9res_lr01_bs256_1/*
*.aux
*.out
*.lof
*.log
*.toc
*.bbl
*.dvi
